html,body{
      height: 100%!important;
      width: 100%!important;
      font-family: 'Metrophobic', sans-serif;
}

.btn-grad {background-image: linear-gradient(to right, #FF512F 0%, #F09819  51%, #FF512F  100%)!important;}
.btn-grad {
      border: 0px!important;
      margin: 10px!important;
      padding: 15px 45px!important;
      text-align: center!important;
      text-transform: uppercase!important;
      transition: 0.5s!important;
      background-size: 200% auto!important;
      color: white!important;            
      box-shadow: 0 0 20px #eee!important;
      border-radius: 50px!important;
}

.btn-grad:hover {
      background-position: right center!important; /* change the direction of the change here */
      color: #fff!important;
      text-decoration: none!important;
}

.blog-btn-grad {background-image: linear-gradient(to right, #FF512F 0%, #f06f19  51%, #FF512F  100%)!important;}
.blog-btn-grad {
      border: 0px!important;
      margin: 0px!important;
      padding: 10px 35px!important;
      text-align: center!important;
      text-transform: uppercase!important;
      transition: 0.5s!important;
      background-size: 200% auto!important;
      color: white!important;            
      box-shadow: 0 0 20px #eee!important;
      border-radius: 5px!important;
}

.blog-btn-grad:hover {
      background-position: right center!important; /* change the direction of the change here */
      color: #fff!important;
      text-decoration: none!important;
}

.blog-blue-btn-grad {background-image: linear-gradient(to right, #064ead 0%, #041785  51%, #064ead  100%)!important;}
.blog-blue-btn-grad {
      border: 0px!important;
      margin: 0px!important;
      padding: 10px 35px!important;
      text-align: center!important;
      text-transform: uppercase!important;
      transition: 0.5s!important;
      background-size: 200% auto!important;
      color: white!important;            
      box-shadow: 0 0 20px #eee!important;
      border-radius: 5px!important;
}

.blog-blue-btn-grad:hover {
      background-position: right center!important; /* change the direction of the change here */
      color: #fff!important;
      text-decoration: none!important;
}

.text-grad{
      background: linear-gradient(to right, #FF512F 0%, #F09819  100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
}


/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
      .oauth-buttons{
            margin: 0px!important;
      }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
      .oauth-buttons{
            margin: 0px!important;
      }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
      .left-section,.right-section{
            height: auto;
            display: block;
      }
      .oauth-buttons{
            margin: 0px!important;
      }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
      
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
      
}


/* width */
::-webkit-scrollbar {
      width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
      background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
      background: linear-gradient(to bottom, #FF512F 0%, #F09819  100%);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
      background: #555;
}

.active{
      font-weight: bold!important;
}

.card-title{
      font-size: 25px;
}

.card-img-top{
      min-height: 120px;
      max-height: 200px;
      width: auto;
      object-fit: cover;
      background-attachment: fixed;;
}

.badge{
      line-height: unset;
}

.custom-blog-card-footer{
      padding: 0px;
      /* background: #636363; */
      /* border-radius: 0px!important; */
}

.custom-blog-card-footer > .btn{
      border-radius: 0px!important;
}

.btn-group > .btn:first-child {
      border-bottom-left-radius: .25rem!important;
}

.btn-group > .btn:last-child {
      border-bottom-right-radius: .25rem!important;
}

.like-button:hover,.comments-button:hover,.share-button:hover{
      background: linear-gradient(to right, #FF512F 0%, #f06f19 100%);
      color: white;
}

.like-button{
      border: 0px;
      color: white;
      text-align: center;
      background:white;
}

.comments-button{
      border: 0px;
      color: white;
      background:white;
}

.share-button{
      border: 0px;
      color: white;
      background:white;
}