<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Posts</h1>
    {% for post in posts %}
        {% if post.user_id== uid %}
            <tr>
              <td>
                {{post.id}}
              </td>&emsp;
              <td>
                {{post.content}}
              </td>&emsp;
              <td>
                {{post.user_id}}
              </td>&emsp;
            <br>
            </tr>
        {% endif %}
    {% endfor %}
    <br>
    <br>
    <h1>Users</h1>
    {% for user in users %}
        <tr>
          <td>
            {{user.id}}
          </td>&emsp;
          <td>
            {{user.social_id}}
          </td>&emsp;
          <td>
            {{user.name}}
          </td>&emsp;
          <td>
            {{user.username}}
          </td>&emsp;
          <td>
            {{user.email}}
          </td>&emsp;
           <td>
            {{user.profile_picture}}
          </td>&emsp;
        <br>
        </tr>
    {% endfor %}

    {% for comment in comments %}
            <tr>
              <td>
                {{comment.comment_id}}
              </td>&emsp;
              <td>
                {{comment.content}}
              </td>&emsp;
              <td>
                {{comment.comment_date}}
              </td>&emsp;
              <td>
                {{comment.user_id}}
              </td>&emsp;
              <td>
                {{comment.post_id}}
              </td>&emsp;
               <td>
                {{comment.sentiment}}
              </td>&emsp;
            <br>
            </tr>
        {% endfor %}
</body>
</html>